<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Band Tracker</title>
  </head>
  <body>
    <a href="/bands">View all bands</a> |
    <a href="/venues">View all venues</a>
  </body>
</html>
